body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
}

.display{
    flex: 0 0 20%;
    border: 2px solid black;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prev-value, .current-value {
    flex: 0 1 48%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5px;
}
.delete-and-clear{
    flex: 0 0 20%;
    display: flex;
}

.delete, .clear{
    flex: 1 0 45%;
    margin: 5px;
}

.buttons{
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
    
}

.btn, .operant, .equal{
   flex: 1 0 20%;
   margin: 5px;
   
}

.sub-container{
    border: 2px solid black;
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
}